<head>
  <title>West London Coders | Learn, discuss and practice code locally</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ "/favicon.ico" | prepend: site.baseurl }}" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Roboto:400,700|Special+Elite|Work+Sans:400,700|Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/normalise.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>


