---
layout: default
---
<div class="o-post">
  <div class="a-content a-section a-content-top--spacious">
  <h1 class="o-post__title" itemprop="name headline">{{ page.title }}</h1>
  <h2 class="o-post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>

  {{ content }}

  {% include share-page.html %}

  {% if page.comments %}

<div id="disqus_thread"></div>

<script>
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//westlondoncoders.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  {% endif %}

  </div>
</div>
    <script id="dsq-count-scr" src="//EXAMPLE.disqus.com/count.js" async></script>
